.book-search {
  padding: 0px 60px;
  color: #252525;
  background: white;

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 80%;

    button {
      background-color: transparent;
      border: 2px solid #252525;
      color: #252525;
      padding: 8px 15px;
      border-radius: 3px;
    }
  }
}