<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
  <title>About</title>
</head>
<body>
  <!-- 01 start with static -->
  <!-- <h1>The about page!</h1> -->
  <!-- <p>Something about this site</p> -->

  <!-- 02 move to dynamic -->
  <h1><%= head %></h1>
  <p><%= body %></p>
  <a href="/home">go back to home</a>
  
</body>
</html>